.moreinfo-container {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.moreinfo-card-container {
  max-width: 50vw;
  max-height: 30vw;
  margin: 0 auto;
  padding: 1vw 1vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  background-color: var(--COLOR_BACKGROUND);
  border: 2px solid var(--COLOR_BACKGROUND_BLACK);
  border-radius: 2vw;
}
.moreinfo-product-data {
  display: flex;
  justify-content: space-around;
  gap: 1vw;
}
.moreinfo-text {
  font-size: 0.8vw;
  font-family: sans-serif;
  color: var(--COLOR_FONT_BLACK);
}
.moreinfo-title {
  font-size: 4vw;
  font-family: sans-serif;
}
.moreinfo-prodact-info,
.moreinfo-prodact-info-list {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.moreinfo-buttons-container {
  display: flex;
  gap: 1vw;
}
.moreinfo-button {
  border-radius: 10px;
  padding: 0.5vw 1vw;
  color: var(--COLOR_BACKGROUND);
  background: var(--COLOR_DEFAULT);
}
.moreinfo-button:hover {
  background: var(--BUTTON_ACTIVE);
  transform: scale(1.05);
}
.moreinfo-item {
  font-weight: bold;
}
.moreinfo-item-value {
  font-weight: 400;
}
.moreinfo-bread-crumb-cont {
  display: flex;
  justify-content: center;
  gap: 1vw;
}
.moreinfo-bread-crumb-item {
  text-transform: uppercase;
}
