.card-search {
  position: relative;
}

.card-search__input {
  height: 20px;
  width: 200px;
  border: none;
  border: 2px solid var(--COLOR_BACKGROUND_BLACK);
  border-radius: 10px;
  padding: 0 5%;
}

.card-search__input::placeholder {
  color: var(--COLOR_BACKGROUND_BLACK);
  text-align: center;
}

.card-search__reset {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: -15px;
  width: 15px;
  height: 15px;
  background-size: cover;
  background-image: url("../../../assets/img/resetInput.png");
  transition: .3s;
  opacity: 0;
}

.card-search__reset_active {
  opacity: 1;
}


@media (max-width: 1200px) {
  .card-search__input {
    width: 150px;
  }
}

@media (max-width: 650px) {
  .card-search__input {
    width: 120px;
  }
}
