.card-product_tile {
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 210px;
  width: 25%;
  height: 370px;
  border: solid 2px #E8E8E8;
}

.card-product_line {
  padding: 1%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr 30%;
  width: 100%;
  height: 160px;
  border: solid 2px #E8E8E8;
  row-gap: 10px;
}

.card-product__title {
  font-size: 18px;
  font-weight: bold;
  color: var(--COLOR_FONT_BLACK);
}

.card-product__title_line {
  grid-area: 2/2/2/2;
}

.card-product__sale {
  padding: 1px 5px;
  background: linear-gradient(to right, var(--COLOR_DEFAULT) 0, #fefcea 55%, #fefcea 98%);
}

.card-product__rating_line {
  grid-area: 3/2/3/2;
}

.card-product__sale_line {
  grid-area: 1/1/1/3;
}

.card-product__img {
  border-radius: 10px;
  border: solid 2px var(--COLOR_BACKGROUND_BLACK);
  object-fit: contain;
}

.card-product__img_tile {
  max-height: 120px;
  max-width: 200px;
}

.card-product__img_line {
  margin: auto 0;
  max-width: 200px;
  max-height: 110px;
  grid-area: 2/1/4/1;
}

.card-product__price {
  font-size: 18px;
  color: var(--COLOR_FONT_BLACK);
}

.card-product__price_line {
  grid-area: 1/3/1/3;
}

.card-product__title_tile {
  font-size: 18px;
  font-weight: bold;
  color: var(--COLOR_FONT_BLACK);
}

.card-product__button {
  display: flex;
  flex-direction: column;
}

.card-product__button_line {
  grid-area: 3/3/3/3;
}

.card-product-description {
  font-size: 14px;
  color: var(--COLOR_FONT_BLACK);
}

.card-product-description_tile {
  display: none;
}

.card-product-description_line {
  margin-top: 25px;
  grid-area: 3/2/3/2;
}

.card-product:hover {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.button-product {
  text-transform: uppercase;
  cursor: pointer;
  height: 30px;
  background-color: var(--COLOR_DEFAULT);
  color: var(--COLOR_BACKGROUND);
  border-radius: 5px;
  border: solid 2px var(--COLOR_BACKGROUND_BLACK);
  transition: .4s;
  margin: 1%;
}

.button-product_active {
  background-color: var(--BUTTON_ACTIVE);
}

.button-product:hover {
  background-color: var(--BUTTON_ACTIVE);
  transform: scale(1.05);
}