.filter-container__one {
  position: relative;
  overflow: auto;
  height: 78%;
  padding: 0 3%;
}

.filter-container__span{
float: right;
}

.filter-container__check {
  transition: .4s;
  opacity: 1;
}

.filter-container__check_disable {
  opacity: .5;
}